/* style.css */
body {
  font-family: Segoe UI, Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  margin: 0;
}

._container {
  width: 100%;
  height: 100%;
}

._leftpane {
    width: 10%;
    padding: 15px;
    height: 100%;
    float: left;
    background-color: #1C4E9D;
    border-collapse: collapse;
    position: fixed;
    top: 100px;
    left: 0;
}

._middlepane {
    top: 100px;
    width: 80%;
    padding: 10px;
    float: right;
    border-collapse: collapse;
    position: relative;
}

._header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  border-collapse: collapse;
  /*background: #B1B5BD;*/
}

._youtube {
  border: 12px ridge #1C4E9D;
  border-radius: 35px;
}

._emergency {
  font-size: 24px;
  padding-top: 10px;
  color: #000000;
  white-space: nowrap;
  margin-left: 165px;
  animation: floatText 30s infinite linear;
  padding-left: 100%; /*Initial offset*/
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

._emergency:hover {
    -webkit-animation: none;
    animation: paused;  
    transform: translateX(0%);  
}

ul {
  list-style-type: none;
}

header nav {
  float: right;
  margin-right: 5px;
  text-align: center;
}

header nav li {
  vertical-align: middle;
  line-height: 50px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 25px;
  letter-spacing: 1.2px;
  word-spacing: -3.6px;
  color: #1C4E9D;
  font-weight: bold;
  text-decoration: underline;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}

h1 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 20px;
  letter-spacing: 1.2px;
  word-spacing: -3.6px;
  color: #1C4E9D;
  font-weight: bold;
  text-decoration: underline;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}

h3 {
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 15px;
  letter-spacing: 1.2px;
  word-spacing: -3.6px;
  color: #1C4E9D;
  font-weight: bold;
  text-decoration: underline;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}

p {
  font-size: 12px;
  align-content: center;
}
/*
._rightpane {
  width: 10%;
  height: 100%;
  position: relative;
  float: right;
  background-color: red;
  border-collapse: collapse;
}*/

a {
  color: white;
  font-size: 15px;
}

html, body {
  padding: 0;
  margin: 0;
}

.tg {
  border-collapse:collapse;
  border-spacing:0;
}

.tg td {
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
}

.tg th {
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  padding:10px 5px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
  border-color:black;
}

.tg .tg-wr85 {
  font-weight:bold;
  background-color:#efefef;
  text-align:center
}

.tg .tg-7fle {
  font-weight:bold;
  background-color:#efefef;
  text-align:center;
  vertical-align:top
}

.tg .tg-vkov {
  background-color:#32cb00;
  text-align:center
}

.tg .tg-pn40 {
  background-color:#fe0000;
  text-align:center
}

.tg .tg-1z0l {
  background-color:#f8a102;
  text-align:center
}

.tg .tg-nvd0 {
  background-color:#f8a102;
  vertical-align:top
}

.tg .tg-y0xi {
  background-color:#32cb00;
  vertical-align:top
}

.tg .tg-q9qv {
  background-color:#fe0000;
  vertical-align:top
}